-# .wrapper

-#   -# = render 'shared/side_bar'
  
-#   .chat
-#     .header
-#       .left-header
-#         .left-header__title
-#           グループ名
-#         %ul.left-header__members
-#           Member：
-#           %li.member
-#             メンバー名
-#           %li.member
-#             メンバー名
-#           %li.member
-#             メンバー名

            