.chat {
  float: right;
  width: calc(100% - 300px);
  .header {
    box-sizing: border-box;
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    overflow: scroll;
    .left-header {
      float: left;
      &__title {
        color: #333;
        font-size: 20px;
        margin-top: 35px;
      }

      &__members {
        color: #999;
        display: flex;
        font-size: 12px;
        margin-top: 15px;
        .member {
          display: inline-block;
          padding-right: 5px;
        }
      }
    }
    .right-header {
      color: #38AEF0;
      &__button {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 30px;
        border: solid 1px #38aef0;
        position: absolute;
        right: 40px
        }
    }
 }
 .messages {
  height: calc(100vh - 190px);
  padding: 46px 40px;
  background-color: #fafafa;
  overflow: scroll;
  .message {
    padding-bottom: 40px;
    .upper-message {
    display: flex;
    margin-bottom: 10px;
    &__user-name {
      color: #434a54;
      font-size: 16px;
      font-weight: bold;
    }
    &__date {
      color: #999;
      font-size: 12px;
      padding-left: 10px;
    }
    .lower-message {
      margin-top: 10px;
      &__content {
        color: #434a54;
        font-size: 14px;
        margin-bottom: 40px;
      }
    }
    }
  }
 }
 .form {
    width: calc(100% - 300px);
    position: fixed;
    height: 90px;
    padding: 20px 40px;
    background-color: #ddd;
    .new__message {
      display: flex;
    }
    .hidden{
      display: none;
    }
    &__message {
      border: none;
      height: 50px;
      width: 100%;
      padding: 0 40px 0 10px;
    }
    .form__box{
      width: 100%;
      position: relative;
      height: 50px;
    }
    .form__mask {
      font-size: 1.3rem;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
    .input-box__submit {
      display: flex;
    }
    .form__submit{
    margin: 0 0 0 72px;
    width: 100px;
    height: 50px;
    padding: 0 30px;
    margin-left: 15px;
    background-color: #38aef0;
    color: white;
    cursor: pointer;
    }
  }
}